@import "normalize";
@import "clearfix";
@import "android";

$color1 : #607d8b;
@font-face {
    font-family: Gidole;
    src: url('font/Gidole-Regular.ttf');
}
@font-face {
    font-family: Roboto;
    src: url('font/Roboto-Regular.ttf');
}

* {
	box-sizing: border-box;
	font-family: Gidole;

}


.top-bar {
	height: 105px;
	border-bottom: 1px solid rgba(255,255,255,.33);
	padding: 15px 29px;
	margin-bottom: 5px;
	.top-left-logo {
		// height: 100%;
		margin-top: 13px;
		margin-bottom: 12px;
	}
	.top-left-title {
		display: inline-block;
		margin: 0;
		font-size: 48px;
		color: white;
		line-height: 75px;
		text-shadow: 1px 1.732px 2px rgba(0, 0, 0, 0.129);
	}
}

.app {
	width: 100%;
	height: 1134px;
	background-image: url('../img/background.jpg');
	position: relative;
}
.app-body {
	height: 1028px;
	padding: 0 14px;
}

.btn-large {
	border: none;
	border-radius: 8px;
	background-color: $color1;
	height: 90px;
	color: white;
	display: block;
	width: 100%;

	text-shadow: 1px 1.732px 2px rgba(0, 0, 0, 0.33);
	box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, .15);
}	

// Login Page

.login-logo {
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 210px;
  left: 0;
  right: 0; 
}
::-webkit-input-placeholder {
   color: rgba(21, 49, 63, .5);
}
:-moz-placeholder { /* Firefox 18- */
   color: rgba(21, 49, 63, .5);  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(21, 49, 63, .5);  
}
:-ms-input-placeholder {  
   color: rgba(21, 49, 63, .5);  
}
.login-box {
	position: absolute;
	bottom: 55px;
	padding: 0 42px;
	font-size: 48px;

	form {
		background-color: none;
	  input {
	    width: 100%;
		background-color: none;
	    margin-top: 35px;
	  }
	  input[type="text"], input[type="password"] {
	    border: none;
	    border-bottom: 1px solid $color1;
	    background: none;
	    padding: 12px 0;
	  }	
	}
}

// Input Number Page

.input-number-buttons {
	position: absolute;
	bottom: 55px;
	left: 0;
	right: 0;
	width: 510px;
	margin: 0 auto;
	font-size: 0;
	a {
		font-size: 72px;
		text-align: center;
		width: 33%;
		height: 120px;
		line-height: 130px;
		display: inline-block;
		color: #15313f;
		text-decoration: none;
		&.shift-right {
			margin-left: 33%;
		}
		&.btn-large {
			width: 100%;
			font-size: 48px;
			text-shadow: 1px 1.732px 2px rgba(0, 0, 0, 0.129);
			color: white;
		}
	}
}
.input-number-display {
	p {
		text-align: center;
		color: white;
		margin: 0;
		&.bill-number-label {
			margin-top: 60px;
			font-size: 48px;
			text-shadow: 1px 1.732px 2px rgba(0, 0, 0, 0.129);
		}
		&.bill-number {
			font-size: 240px;
  			text-shadow: 2px 3.464px 4px rgba(0, 0, 0, 0.196);
		}
	}
}

// Input Order
.order-status {
	margin: 20px 10px;
	font-family: Roboto;
	p {
		margin: 0;
		color: white;
		font-size: 42px;
		text-shadow: 1px 1.732px 2px rgba(0, 0, 0, 0.129);
		font-family: Roboto;
	}
	.customer {
		float: left;
		font-size: 48px;
		font-weight: bold;
		span {
			display: block;
			font-size: 42px;
			font-weight: normal;
		}
	}
	.price {
		float: right;
		font-size: 48px;
		font-weight: bold;
		span {
			display: block;
			font-weight: normal;
			font-size: 30px;
		}
	}
}
.orders-container-inner {
	overflow-x: hidden;
	overflow-y: scroll;
	height: 736px;
}
.orders-container {
	background-color: white;
	margin-bottom: 15px;
	box-shadow: 2px 3.5px 4px rgba(0, 0, 0, 0.25);
	padding: 4px;
	padding-right: 9px;
	padding-top: 9px;

	ul {
		// padding: 3 32px;
		// width: 628px;
		padding: 0;
		padding-left: 25px;
		padding-right: 25px;
		margin: 0;
		li {
			position: relative;
			display: block;
			font-size: 42px;
			width: 100%;
			padding: 26px 0;
			border-bottom: 1px solid #959595;
			margin-bottom: 5px;
			a {
				display: inline-block;
				// width: 90%;
				width: 550px;
				text-decoration: none;
				color: #15313f;				
			}
			&:last-child {
				border-bottom: none;
			}
			span {
				display: inline-block;
				width: 8%;
				text-align: center;

				margin: auto;
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				// height: 100%;
				background-color: #95a1a7;
				color: white;
				height: 60px;
				width: 60px;
				line-height: 60px;
				border-radius: 25%;

				// position: relative;
				top: 50%;
				transform: translateY(-50%);

				// background-color: yellow;
			}
		}
	}
}
.order-buttons {
	.btn-large {
		font-size: 48px;
		text-align: center;
		text-decoration: none;
		line-height: 90px;
		&:first-child {
			width: 62.5%;
			margin-right: 2.5%;
			float: left;
		}
		&:last-child {
			width: 35%;
			float: right;
		}
	}
}









// Select Menu

.menu-top-bar {
	// height: 94px;
	width: 100%;
	padding: 0 31px;
	background-color: white;
	ul {
		padding: 0;
		margin: 0;
		li {
			display: inline-block;
			margin: 0;
			a {
				display: block;
				text-decoration: none;
				color: #536d79;
				font-size: 36px;
				line-height: 36px;
				padding: 30px 21px;
				padding-bottom: 32px;
				&.active {
					font-weight: bold;
					border-bottom: 6px solid #536d79;
					padding-bottom: 26px;
				}
			}
		}
	}
}

.menu-container {
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	font-size: 0;
	ul {
		padding: 0 2px;;
		margin: 0;
		li {
			width: 314px;
			height: 292px;
			border-radius: 8px;
			display: inline-block;
			background-color: #536d79;
			overflow: hidden;
			margin: 15px;
			margin-bottom: 5px;

			a {
				text-decoration: none;
			}
		}
	}
}
.menu-image {
	width: 100%;
	height: 206px;
	overflow: hidden;
	img {
		width: 100%;
	}
}
.menu-name {
	width: 100%;
	height: 86px;
	padding: 2px 0;
	overflow: hidden;

	display: table;
	h1 {
		font-weight: normal;
		font-size: 32px;
		color: white;
		margin: 0;
		padding: 8px 15px;

		height: 100%;

		line-height: 35px;
		text-align: left;

		vertical-align: middle;
		display: table-cell;
		// text-align: center;
	}
}